.conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    height: 24px;
    margin: 4px;
    border-radius: 4px;
}
button {
    height: 28px;
    width: 120px;
    border-radius: 4px;
    background-color: #7f1eac;
    color: white;

}