table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
    height: 28px;
    width: 120px;
    border-radius: 4px;
    background-color: #7f1eac;
    color: white;
}